{% extends 'base.html' %}{% load static %}

{% block title %}Administration{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li class="active">Administration</li>
    </ul>
{% endblock %}

{% block contents %}
    <div class="bs-docs-section clearfix article">
        <ul>
            {% if user.is_admin %}
                <li><a href="{% url "admin_users" %}">User administration</a></li>
            {% endif %}
            <li><a href="{% url "admin_articles" %}">Article administration</a></li>
        </ul>
    </div>
{% endblock %}