{% extends 'base.html' %}{% load static %}

{% block contents %}
    <div class="page-header" id="banner">
        <h3>
            Administration
        </h3>
        <ul class="breadcrumb">
            <li class="active">Administration</li>
        </ul>
        <div class="row">
            <div class="col-md-12">
                <ul>
                    {% if user.is_admin %}
                        <li><a href="{% url "admin_users" %}">User administration</a></li>
                    {% endif %}
                    <li><a href="{% url "admin_articles" %}">Article administration</a></li>
                </ul>
            </div>
        </div>
{% endblock %}