{% extends 'base.html' %}{% load static %}

{% block contents %}
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-5">
                <h2>Quote of the Day:</h2>
            </div>
            <div class="col-md-7">
                <blockquote class="blockquote-reverse">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-7">
                <h1>Paper</h1>
                <p class="lead">Material is the metaphor</p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5">
                <div class="bs-component">
                    <div class="panel panel-default">
                        <div class="panel-heading">Tags</div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}