{% extends 'base.html' %}{% load static %}

{% block title %}Future is Tech{% endblock %}

{% block contents %}
    <div class="row">
        <div class="col-lg-8">
            <ul style="margin-left: -40px;">
                {% for a in articles %}
                    <li class="bs-docs-section clearfix">
                        <h3><a class="article-link" href="{% url "article" id=a.id %}">{{ a.title }}</a></h3>
                        <i style="font-size: 80%;">Published by {{ a.created_by.first_name }} {{ a.created_by.last_name }} on {{ a.created_at|date:"l d F Y" }}</i>
                        {% autoescape off %}{{ a.contents }}{% endautoescape %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4 ">
            <div class="bs-docs-section clearfix">
                <h3>Random quote</h3>

                {% if quote == None %}
                {% else %}
                    <blockquote class="blockquote">
                        <p>{{ quote.contents }}</p>
                        <small>Quote from <cite title="Source Title">{{ quote.author }}</cite></small>
                    </blockquote>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}