{% extends 'base.html' %}{% load static %}

{% block title %}Future is Tech{% endblock %}

{% block contents %}
    <div class="row">
        <div class="col-lg-8">
            <ul>
                {% for a in articles %}
                    <li>
                        <div class="bs-docs-section clearfix">
                            <b>{{ a.created_at|date:"F, l d" }}</b> <b><a href="{% url "article" id=a.id %}">{{ a.title }}</a></b> by {{ a.created_by }}
                            {{ a.contents }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4 ">
            <div class="bs-docs-section clearfix">
                <h3>Random quote</h3>

                <blockquote class="blockquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                </blockquote>
                <h3>Tags</h3>
            </div>
        </div>
    </div>
{% endblock %}