{% extends 'base.html' %}{% load static %}

{% block contents %}
    <div class="page-header" id="banner">
        <h2>
            Article history:
        </h2>
        <h4>{{ article.title }}</h4>
        <ul>
        {% for h in history %}
            <li>
                <a href="{% url "edit_article" id=article.id history_id=h.id %}">{{ h.created_at }}</a>
                {% autoescape off %}<pre>{{ h.get_contents }}</pre>{% endautoescape %}
            </li>
        {% endfor %}
        </ul>
{% endblock %}