{% extends 'base.html' %}{% load static %}
{% block page_style %}
    <link rel="stylesheet" href="{% static 'article.css' %}">
{% endblock %}

{% block title %}{{ article.title }}{% endblock %}

{% block contents %}
    <div class="bs-docs-section clearfix article">
        {% autoescape off %}{{ article.contents }}{% endautoescape %}
        <h6>Created: {{ article.created_at }} by {{ article.created_by }}</h6>
        <h6>Last modified: {{ article.last_modified_at }} by {{ article.history.author }}</h6>
    </div>
{% endblock %}