{% extends 'base.html' %}{% load static %}

{% block title %}{{ article.title }}{% endblock %}

{% block contents %}
    <div class="bs-docs-section clearfix article">
        <i style="font-size: 80%;">Published by {{ article.created_by.first_name }} {{ article.created_by.last_name }}  on {{ article.created_at|date:"l d F Y" }}</i>
        {% autoescape off %}{{ article.contents }}{% endautoescape %}
        <h6>Last modified: {{ article.last_modified_at }} by {{ article.history.author }}</h6>
    </div>
    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endblock %}

{% block scripts %}
    <script>
        /**
         * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
         */
        /*
         var disqus_config = function () {
         this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
         this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
         };
         */
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//futureistech.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
{% endblock %}