{% extends 'base.html' %}{% load static %}

{% block contents %}
    <div class="page-header" id="banner">
        <h2>
            All articles
        </h2>
        <ul>
            {% for year in years %}
                <li><h4>{{ year.year }}</h4><ul>
                    {% for a in year.articles %}
                        <li><b>{{ a.created_at|date:"F, l d" }}</b> <b><a href="{% url "article" id=a.id %}">{{ a.title }}</a></b> by {{ a.created_by }}</li>
                    {% endfor %}</ul>
                </li>
            {% endfor %}
        </ul>
{% endblock %}