{% extends 'base.html' %}{% load static %}
{% block page_style %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">
{% endblock %}

{% block contents %}
    <div class="page-header" id="banner">
    <h3>
        Editor
    </h3>
    <ul class="breadcrumb">
        <li><a href="{% url "admin" %}">Administration</a></li>
        <li><a  href="{% url "admin_articles" %}">Articles</a></li>
        <li class="active">Editor</li>
    </ul>
    <div class="row">
        <div class="col-md-4">
            <button type="reset" class="btn btn-default btn-lg">Reset</button>
            <button type="submit" class="btn btn-primary btn-lg">Save</button>
            <a href="{% url "history_article" id=article.id %}" class="btn btn-info btn-lg">History</a>
        </div>
        <div class="col-md-4">
            <h4>Current state:
            {% if article.state == "PU" %}
                <a href="#" class="btn btn-default disabled">Published</a>
            {% endif %}
            {% if article.state == "RE" %}
                <a href="#" class="btn btn-success disabled">Review</a>
            {% endif %}
            {% if article.state == "DR" %}
                <a href="#" class="btn btn-warning disabled">Draft</a>
            {% endif %}
            {% if article.state == "DE" %}
                <a href="#" class="btn btn-danger disabled">Removed</a>
            {% endif %}
            </h4>
        </div>
        <div class="col-md-4">
            {% if article.state != "PU" %}
                <a href="{% url "update_state_article" id=article.id state="PU" %}" class="btn btn-default btn-lg">Publish</a>
            {% endif %}
            {% if article.state != "RE" %}
                <a href="{% url "update_state_article" id=article.id state="RE" %}" class="btn btn-success btn-lg">Review</a>
            {% endif %}
            {% if article.state != "DR" %}
                <a href="{% url "update_state_article" id=article.id state="DR" %}" class="btn btn-warning btn-lg">Draft</a>
            {% endif %}
            {% if article.state != "DE" %}
                <a href="{% url "update_state_article" id=article.id state="DE" %}" class="btn btn-danger btn-lg">Remove</a>
            {% endif %}
        </div>
    </div>
    <form method="post">{% csrf_token %}
            <br>
            <input name="title" type="text" style="font-size: 20px;" class="form-control" id="inputUsername" value="{{ article.title }}">
            <textarea name="contents">{{ contents }}</textarea>
    </form>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea',
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'save table contextmenu directionality emoticons template paste textcolor'
            ],
            content_css: '{% static 'article.css' %}',
            min_height: 500
        });
    </script>
{% endblock %}