{% extends 'base.html' %}{% load static %}
{% block page_style %}
    <link rel="stylesheet" href="{% static 'dropzone.css' %}">
{% endblock %}

{% block title %}Editor{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="{% url "admin" %}">Administration</a></li>
        <li><a  href="{% url "admin_articles" %}">Articles</a></li>
        <li class="active">Editor</li>
    </ul>
{% endblock %}

{% block contents %}
    <div class="bs-docs-section clearfix">
        <form method="post">{% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#upload-modal">Upload file</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button type="reset" class="btn btn-default btn-lg">Reset</button>
                    <button type="submit" class="btn btn-primary btn-lg">Save</button>
                    <a href="{% url "history_article" id=article.id %}" class="btn btn-info btn-lg">History</a>
                </div>
                <div class="col-md-3">
                    <h4>State:
                    {% if article.state == "PU" %}
                        <a href="#" class="btn btn-default disabled">Published</a>
                    {% endif %}
                    {% if article.state == "RE" %}
                        <a href="#" class="btn btn-success disabled">Review</a>
                    {% endif %}
                    {% if article.state == "DR" %}
                        <a href="#" class="btn btn-warning disabled">Draft</a>
                    {% endif %}
                    {% if article.state == "DE" %}
                        <a href="#" class="btn btn-danger disabled">Removed</a>
                    {% endif %}
                    </h4>
                </div>
                <div class="col-md-5">
                    {% if article.state != "PU" %}
                        <a href="{% url "update_state_article" id=article.id state="PU" %}" class="btn btn-default btn-lg" onclick="return confirm('Are you sure?')">Publish</a>
                    {% endif %}
                    {% if article.state != "RE" %}
                        <a href="{% url "update_state_article" id=article.id state="RE" %}" class="btn btn-success btn-lg">Review</a>
                    {% endif %}
                    {% if article.state != "DR" %}
                        <a href="{% url "update_state_article" id=article.id state="DR" %}" class="btn btn-warning btn-lg">Draft</a>
                    {% endif %}
                    {% if article.state != "DE" %}
                        <a href="{% url "update_state_article" id=article.id state="DE" %}" class="btn btn-danger btn-lg">Remove</a>
                    {% endif %}
                </div>
            </div>
            <br>
            <input name="title" type="text" style="font-size: 20px;" class="form-control" id="inputUsername" value="{{ article.title }}">
            <textarea name="contents">{{ contents }}</textarea>
        </form>
    </div>
    <div class="modal fade" id="upload-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title">Upload File</h4>
                </div>
                <div class="modal-body">
                  <div id="messages"></div>
                  <form action="{% url 'upload_file' %}" class="dropzone">{% csrf_token %}
                    <div class="fallback">
                      <input name="file" type="file" multiple />
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea',
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'save table contextmenu directionality emoticons template paste textcolor'
            ],
            content_css: '{% static 'article.css' %}',
            min_height: 700
        });
    </script>
{#    <script src="{% static 'dropzone.js' %}"></script>#}
    <script src="{% static 'dropzone.js' %}"></script>
{% endblock %}