{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ site_title }}</title>
    <meta name="description" content="{{ site_description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.css" media="screen">
    <link rel="stylesheet" href="https://bootswatch.com/assets/css/custom.min.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
  <script src="https://bootswatch.com/bower_components/html5shiv/dist/html5shiv.js"></script>
  <script src="https://bootswatch.com/bower_components/respond/dest/respond.min.js"></script>
  <![endif]-->
    <link rel="stylesheet" href="{% static 'fonts/josefin_sans/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'custom.css' %}">
    {% block page_style %}{% endblock %}
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ site_url }}" class="navbar-brand">{{ site_name }}</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
{#                    <li>#}
{#                        <a href="{% url 'authors' %}">Authors</a>#}
{#                    </li>#}
                    <li>
                        <a href="{% url 'all_articles' %}">All articles</a>
                    </li>
                    <li>
                        <a href="{% url 'word_cloud' %}">Word cloud</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">{{ user.email }} <span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="download">
                                <li><a href="{% url 'editor' %}">Editor</a></li>
                                <li><a href="{% url 'account_settings' %}">Settings</a></li>
                                {% if user.is_admin %}
                                <li><a href="{% url 'admin' %}">Administration</a></li>
                                {% endif %}
                                <li class="divider"></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        {% block contents %}{% endblock %}


    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>
            </div>
        </div>

    </footer>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://bootswatch.com/assets/js/custom.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>